:root {
  --secondary-color: white;
  --primary-color: #272142;
  --primary-font: "Poppins";
}


body {
  cursor: url("./cursorgradient.cur"), pointer;
}

#background {
  background-color: #f9b795;
}

#navbar {
  font-family: "Sora", sans-serif;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  padding: 160px;
  font-size: 32px;
  color: var(--primary-color);
  font-weight: 600;
}

.nav-link {
  margin-bottom: 50px;
}

#hello {
  font-family: var(--primary-font);
  font-size: 128px;
  color: #272142;
  font-weight: bold;
  margin-left: 100px;
  margin-right: 200px;
  padding-top: 160px;
  padding-left: 40px;
  margin-bottom: 0;
}

#iam {
  font-size: 36px;
  font-weight: bold;
}

#title {
  margin-left: 100px;
  font-size: 96px;
  font-family: "Sora", sans-serif;
  text-align: left;
  padding-left: 40px;
  font-weight: bold;
}

#subtitle {
  font-size: 24px;
  color: var(--primary-color);
  margin-left: 100px;
  font-weight: 500;
  margin-bottom: 100px;
  padding-left: 40px;
  font-family: var(--primary-font);
}

#comp-text {
  padding-bottom: 140px;
  font-size: 16px;
  font-family: var(--primary-font);
  padding-left: 60px;
  margin-left: 100px;
}

#contact-me {
  font-size: 40px;
  font-family: "Sora", sans-serif;
  font-weight: bold;
  margin-left: 100px;
  padding-left: 40px;
}

#adj-1,
#adj-2,
#adj-3 {
  font-size: 26px;
}

#adj-1:hover {
  color: white;
}
#adj-2:hover {
  color: white;
}
#adj-3:hover {
  color: white;
}

button:hover {
  color: var(--primary-color);
  background-color: white;
  cursor: url("./cursorgradient.cur"), pointer;
}

.about-me:hover {
  color: white;
  background-color: var(--primary-color);
}
#first-row {
  margin: 20px;
}
#second-row {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px;
  margin-right: 50px;
}

#button-section {
  text-align: center;
}

p {
  text-align: center;
}

.second-body {
  text-align: center;
}

#second-title {
  margin-top: 100px;
  font-size: 100px;
}

#second-subtitle {
  font-size: 50px;
  color: var(--primary-color);
  opacity: 0.6;
  margin-bottom: 80px;
}

.about-container {
  display: block;
}
.about-row {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.col-sm-5 {
  margin: 10px;
}

#h3 {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.email {
  color: var(--primary-color);
  opacity: 0.6;
  font-size: 20px;
}

#secondary-button {
  color: var(--secondary-color);
  margin: 50px;
  padding: 10px 15px;
  box-shadow: var(--box-shadow);
  border-color: transparent;
  font-weight: var(--text-decoration-style);
  transition: all 200ms ease;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: var(--border);
}

#secondary-button:hover {
  background-color: #1428aa;
  cursor: url("./cursorgradient.cur"), pointer;
}
