:root {
  --primary-color: #272142;
  --primary-font: "Poppins";
}

body {
  cursor: url("./cursorgradient.cur"), pointer;
}

#background {
  background-color: #facab2;
}

#navbar {
  font-family: "Sora", sans-serif;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  padding: 180px;
  font-size: 32px;
  color: var(--primary-color);
  font-weight: 600;
  margin-top: 40px;
}

#nav-link {
  margin-bottom: 50px;
  text-align: right;
}
#nav-link:hover {
  color: #ffe8dd;
  text-decoration: underline;
  transition-duration: 200ms;
}

#hello {
  font-family: var(--primary-font);
  font-size: 128px;
  color: #272142;
  font-weight: bold;
  margin-left: 100px;
  margin-right: 200px;
  padding-top: 160px;
  padding-left: 60px;
  margin-bottom: 0;
}

#iam {
  font-size: 36px;
  font-weight: bold;
}

#title {
  margin-left: 100px;
  font-size: 96px;
  font-family: "Sora", sans-serif;
  text-align: left;
  padding-left: 60px;
  font-weight: bold;
}

#subtitle {
  font-size: 24px;
  color: var(--primary-color);
  margin-left: 100px;
  font-weight: 500;
  margin-bottom: 80px;
  padding-left: 60px;
  font-family: var(--primary-font);
}

#comp-text {
  padding-bottom: 20px;
  font-size: 16px;
  font-family: var(--primary-font);
  padding-left: 80px;
  margin-left: 100px;
  margin-bottom: 0;
}

#adj-1,
#adj-2,
#adj-3 {
  font-size: 26px;
}

#adj-1:hover {
  color: #ffe8dd;
}
#adj-2:hover {
  color: #ffe8dd;
}
#adj-3:hover {
  color: #ffe8dd;
}

#second-background {
  background-image: linear-gradient(#ffe8dd, #f5f5f5);
}

#about-h1 {
  margin-left: 100px;
  font-size: 68px;
  font-family: "Sora", sans-serif;
  text-align: left;
  padding-left: 60px;
  font-weight: bold;
  padding-bottom: 200px;
  padding-top: 160px;
}

#nav-link2 {
  margin-bottom: 50px;
  text-align: right;
}
#nav-link2:hover {
  color: #4e72f0;
  text-decoration: underline;
  transition-duration: 200ms;
}
#projects-container {
  margin-left: 100px;
  padding-left: 60px;
}

#project-one {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
}
#project-two {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
}

img {
  width: 500px;
  margin-bottom: 100px;
  border: solid 40px;
  border-color: #f5f5f5;
}

#second-row {
  padding-top: 100px;
  padding-bottom: 200px;
}

#contact-container {
  margin-top: 60px;
}

#contact-me {
  font-size: 40px;
  font-family: "Sora", sans-serif;
  font-weight: bold;
  margin-left: 100px;
  padding-left: 60px;
}

#email {
  font-size: 16px;
  font-family: var(--primary-font);
  padding-left: 100px;
  margin-left: 100px;
  padding-bottom: 50px;
  font-weight: 500;
}

#social-media {
  padding-left: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
}

i {
  padding: 10px;
  font-size: 30px;
  background-color: #4e72f0;
  border-radius: 50px 50px;
  margin-right: 20px;
  color: white;
}

i:hover {
  color: #ffe8dd;
  cursor: pointer;
}

footer {
  font-size: 12px;
  padding: 40px;
  font-family: "Sora", sans-serif;
  margin-left: 100px;
  padding-left: 100px;
}

#my-name {
  color: #4e72f0;
  font-weight: bold;
}
