
@media (min-width:750px) and (max-width: 1024px){
   #navbar {
    padding-right: 80px !important;
    font-size: 28px !important;
   }

  #hello {
    font-size: 60px !important;
    padding-left: 0px !important; 
    margin-left: 80px !important;
    padding-top: 180px !important;
  }
#title {
  font-size: 40px !important;
  padding-left: 0px !important;
   margin-left: 80px !important;
}
#subtitle {
  padding-left: 0px !important;
  font-size: 18px !important;
   margin-left: 80px !important;
}
#comp-text {
  padding-left: 0px !important;
   margin-left: 80px !important;
}
}

@media (max-width: 750px) {
  #navbar {
    position: relative !important;
    font-size: 18px !important;
   display: flex !important;
   justify-content: space-evenly !important;
   padding: 0 !important;
  padding-top: 40px !important;
   
  }
  #nav-link {
    display: flex !important;
    justify-content: space-evenly !important;
  }
  #nav-link:hover {
  color: #ffe8dd;
  text-decoration: underline;
  transition-duration: all 100ms ease-in-out;
}

#nav-link.active {
color: #ffe8dd;
}


  #hello {
    font-size: 55px !important;
    margin-left: 15px !important;
    padding-left: 40px !important;
    padding-top: 80px !important;
    margin-right: 80px !important;
  }
  
  #iam {
    font-size: 20px !important;
  }
  #title {
    font-size: 40px !important;
    margin-left: 15px !important;
    padding-left: 40px !important;
  }
  
  #subtitle {
font-size: 20px !important;
    margin-left: 15px !important;
    margin-right: 40px !important;
    
  }

  #comp-text {
    margin-left: 0px !important;
    padding-right: 30px !important;
  }

  #about-h1 {
font-size: 80px !important;
margin: 50px !important;
padding-left: 0px !important;
padding-top: 100px !important;
text-align: center !important;
  }
#about-h2 { 
  font-size: 38px !important;
  margin-left: 0px !important;
  padding: 50px !important;
  margin-bottom: 0px !important;
  
}
#dot {
  display: none !important;
}
#projects-container {
  margin: 0px !important;
  padding: 40px !important;
}

#contact-me {
  margin: 0px !important;
  font-size: 30px !important;
  padding: 40px 20px !important;
}

#email {
margin: 0px !important;
padding: 40px !important;
}

#social-media {
display: flex !important;
   justify-content: space-evenly !important;
   margin: 0px !important;
   padding: 40px !important;
}

footer {
  margin: 0px !important;
  padding: 50px !important;
}

}

:root {
  --primary-color: #272142;
  --primary-font: "Poppins";
  --secondary-font: "Sora", sans-serif;
}

body {
  cursor: url("./cursorgradient.cur"), pointer;
}

#background {
  background-color: #facab2;
}

#navbar {
  font-family: var(--secondary-font);
  position: fixed;
  top: 0;
  right: 0;
  padding: 180px;
  font-size: 32px;
  color: var(--primary-color);
  font-weight: 600;
}

#nav-link {
  margin-bottom: 50px;
  text-align: right;
}
#nav-link:hover {
  color: #ffe8dd;
  text-decoration: underline;
  transition-duration: all 100ms ease-in-out;
}

#nav-link.active {
color: #ffe8dd;
}

#hello {
  font-family: var(--primary-font);
  font-size: 128px;
  color: #272142;
  font-weight: bold;
  margin-left: 100px;
  margin-right: 200px;
  padding-top: 160px;
  padding-left: 60px;
  margin-bottom: 0;
}

#iam {
  font-size: 36px;
  font-weight: bold;
}

#title {
  margin-left: 100px;
  font-size: 96px;
  font-family: var(--secondary-font);
  text-align: left;
  padding-left: 60px;
  font-weight: bold;
}

#subtitle {
  font-size: 24px;
  color: var(--primary-color);
  margin-left: 100px;
  font-weight: 500;
  margin-bottom: 80px;
  padding-left: 60px;
  font-family: var(--primary-font);
}

#comp-text {
  padding-bottom: 20px;
  font-size: 16px;
  font-family: var(--primary-font);
  padding-left: 80px;
  margin-left: 100px;
  margin-bottom: 0;
}

#adj-1,
#adj-2,
#adj-3 {
  font-size: 26px;
}

#adj-1:hover,
 #adj-2:hover,
 #adj-3:hover {
  color: #ffe8dd;
}

#second-background {
  background-image: linear-gradient(#ffe8dd, #f5f5f5);
  
}

#about-h1 {
  font-family: var(--primary-font);
  font-size: 128px;
  color: #272142;
  font-weight: bold;
  margin-left: 100px;
  margin-right: 200px;
  padding-top: 160px;
  padding-left: 60px;
  margin-bottom: 0;
}
#dot {
  font-size: 36px;
  font-weight: bold;
}

#about-h2 {
  margin-left: 100px;
  font-size: 68px;
  font-family: var(--secondary-font);
  text-align: left;
  padding-left: 60px;
  font-weight: bold;
  padding-bottom: 200px;
  margin-bottom: 100px;
  padding-top: 100px;
}

#nav-link2,
#nav-link3 {
  margin-bottom: 50px;
  text-align: right;
}
#nav-link2:hover,
#nav-link3:hover {
  color: #848cdf;
  text-decoration: underline;
  transition-duration: 200ms;
}

#nav-link2.active {
  color:#848cdf;
}

#projects-container {
  margin-left: 100px;
  padding-left: 60px;
}

#landing-page {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 30px;
  text-decoration: none;
  color: #848cdf;
  text-align: left;
  padding-right: 180px;
}
#weather-app {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 30px;
  text-decoration: none;
  color: #848cdf;
  text-align: left;
  padding-right: 180px;
}

#languages {
  font-size: 20px;
  font-weight: 400;
}

img {
  margin-bottom: 180px;
  border: solid 20px;
  border-color: #f5f5f5;
}

#contact-container {
  padding-top: 100px;
}

#contact-me {
  font-size: 40px;
  font-family: var(--secondary-font);
  font-weight: bold;
  margin-left: 100px;
  padding-left: 60px;
  padding-bottom: 20px;
}

#email {
  font-size: 16px;
  font-family: var(--primary-font);
  padding-left: 100px;
  margin-left: 100px;
  font-weight: 500;
  text-decoration: none;
  color: #848cdf;
}

#social-media {
  padding-left: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
  margin-top: 40px;
}

i {
  padding: 10px;
  font-size: 30px;
  background-color: #848cdf;
  border-radius: 50px 50px;
  margin-right: 20px;
  color: white;
}

i:hover {
  color: #ffe8dd;
  cursor: pointer;
}

footer {
  font-size: 12px;
  padding: 40px;
  font-family: var(--secondary-font);
  margin-left: 100px;
  padding-left: 100px;
}

#my-name {
  color: #4e72f0;
  font-weight: bold;
}
